<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="navbar-header">
      <li><a class="navbar-brand" routerLink=""><img class="homePageImage" src="./assets/img/punterest.png" alt="punterest logo"></a></li>
      <li><input class="search" type="text" name="search" placeholder="Search"></li>
      <li><p>Home</p></li>
      <li><p>Following</p></li>
      <li><p>User</p></li>
      <li><i class="fas fa-comment-dots fa-lg"></i></li>
      <li><i class="fas fa-bell fa-lg"></i></li>
      <li><i class="fas fa-ellipsis-h fa-lg"></i></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{ title }}</h1>
  <router-outlet></router-outlet>
</div>
