<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=""><img class="homePageImage" src="./assets/img/punterest.png" alt="punterest logo"></a>
      <div class="searchBar">
        <input class="search" type="text" name="search" placeholder="Search">
        <i id="searchIcon" class="fas fa-search"></i>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><p>Home</p></li>
      <li><p>Following</p></li>
      <li><p>User</p></li>
      <li><i class="fas fa-comment-dots fa-lg"></i></li>
      <li><i class="fas fa-bell fa-lg"></i></li>
      <li><i class="fas fa-ellipsis-h fa-lg"></i></li>
    </ul>
  </div>
</nav>
<!-- <ul class="nav navbar-nav navbar-right">
  <li><a routerLink="about">About</a></li>
</ul> -->

  <h1>{{ title }}</h1>
  <router-outlet></router-outlet>


<!-- <footer class="footer">
  <div class="container">
    <i class="fas fa-plus-circle fa-3x"></i>
    <a routerLink="about"><i class="fas fa-question-circle fa-3x"></i></a>
  </div>
</footer> -->
